.overview-container {
  padding: 20px;
}

.clock-box {
  text-align: center;
  padding: 20px;
  background: rgb(24, 20, 20);
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.counter-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.counter-card {
  flex: 1;
  padding: 20px;
  background: rgb(24, 20, 20);
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.counter-card span {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.calendar-row {
  display: flex;
  gap: 20px;
}

.calendar-box {
  flex: 1;
  background: rgb(24, 20, 20);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.day-header {
  font-weight: bold;
  text-align: center;
}

.day-cell {
  background: #fafafa;
  color: black;
  min-height: 80px;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #eee;
  position: relative;
}

.day-cell:hover {
  background: #f0f0f0;
}

.day-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.note-text {
  font-size: 12px;
  white-space: pre-wrap;
  color: #555;
}

.empty {
  background: transparent;
  border: none;
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: rgb(97, 90, 90);
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

.modal-box textarea {
  width: 100%;
  height: 120px;
  margin-top: 10px;
}

.modal-actions {
  margin-top: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
}
